---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
	posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul>
	{
		posts.map((post) => (
			<li class="card">
				<div class="card-header">
					{/* 投稿日 */}
					<time datetime={post.data.publishDate.toISOString()}>
						{post.data.publishDate
							.toLocaleDateString("ja-JP", {
								year: "numeric",
								month: "2-digit",
								day: "2-digit",
							})
							.replaceAll("/", "-")}
					</time>
					{/* 記事タイトル */}
					<h2 class="title">
						<a href={`/orcashark/blog/${post.slug}/`}>{post.data.title}</a>
					</h2>
				</div>
				{/* アイキャッチ画像 */}
				{post.data.coverImage && (
					<a href={`/orcashark/blog/${post.slug}/`}>
						<Image
							src={post.data.coverImage}
							alt={post.data.coverAlt}
							loading="eager"
							class="image"
						/>
					</a>
				)}
				<div class="card-body">
					<a href={`/orcashark/blog/category/${post.data.category.slug}/`} class="category">
						{post.data.category.name}
					</a>
					<p>{post.data.description}</p>
				</div>
			</li>
		))
	}
</ul>

<style>
	ul {
		display: grid;
		gap: clamp(18px, 21/800 * 100vw, 24px);

		@media (768px<=width) {
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		}
	}

	.card {
		--clampValue: 350 * 100cqw;
		container-type: inline-size;

		background-color: var(--sub);
		border-top: 3px solid var(--accent);
	}

	.card-header {
		padding: 0.7em;
	}

	.title {
		font-size: clamp(1.2rem, 20 / var(--clampValue), 1.3rem);

		a:hover {
			text-decoration: underline;
			text-underline-offset: 7px;
		}
	}

	.image {
		aspect-ratio: 4/3;
		object-fit: cover;
	}

	.card-body {
		font-size: clamp(0.95rem, 15.5 / var(--clampValue), 1rem);
		padding: 0.5em;
	}

	.category {
		display: inline-block;
		background-color: var(--base);
		padding: 0.2em 0.4em;

		&:hover {
			background-color: #ccc;
			color: var(--base);
			transition: 0.2s;
		}
	}

	p {
		padding: 0.5em;
		margin-bottom: 0;
	}
</style>
